body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1f auto;
    grid-template-areas: 
    "header"
    "content"
    "footer";

    width: 100vw;
    height: 100vh;

    background-color: white;
}